{
  "presets": [
    [
      "next/babel",
      // TODO(timo): Remove when airbnb/babel-plugin-inline-react-svg#91 gets fixed
      { "preset-react": { "runtime": "classic", "pragma": "__jsx" } }
    ]
  ],
  "plugins": [
    [
      // TODO(timo): Remove when airbnb/babel-plugin-inline-react-svg#91 gets fixed
      // Source: https://github.com/vercel/next.js/blob/canary/packages/next/build/babel/preset.ts
      "next/dist/build/babel/plugins/jsx-pragma",
      {
        "module": "react",
        "importAs": "React",
        "pragma": "__jsx",
        "property": "createElement"
      }
    ],
    [
      "prismjs",
      {
        "languages": ["markup"],
        "plugins": ["line-numbers"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
